node_modules
dist
dist-ssr
*.local
*.tsbuildinfo
.vscode/*
!.vscode/extensions.json
.DS_Store
npm-debug.log*
pnpm-debug.log*

# Cache y secretos de las pruebas locales con Wrangler
.wrangler
.dev.vars
